<br>
<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="1">Stock Info</th>
        <th>Category</th>
        <th>Product</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Count</td>
        <td><%= @category_ct %></td>
        <td><%= @product_ct %></td>
      </tr>
    </tbody>
  </table>
</div>
